.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: fit-content;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#body{
  padding-top: 20px;
}


/*Component styling*/
.component_sections{
  margin-left: auto;
  margin-right: auto;
  border-color: #2F4F4F;
  border-width: 5px;
  border-style: solid;
}

#drawing_space{
  background-color: #FFF;
  color: #000;
  width: fit-content;
}

/*Brush Color and Size Styling*/

#brush_color_and_size{
  width: 600px;
}

#color_and_size{
  display: flex;
  width: inherit;
  height: fit-content;
  background-color: #778899;
}

.half_color_and_size{
  width: inherit;
  height: inherit;
}

.color_and_size_button{
  height: 60px;
  width: 60px;
}

/*Brush Types Styling*/

#brush_types{
  width: 600px;
}

.brush_button{
  border-color: #2F4F4F;
  border-width: 2px;
  border-style: solid;
  padding: 5px;
  height: 60px;
  width: 60px;
}
